{% extends 'homebase.html' %}
{% load static %}
{% load i18n %}
{% load currency %}
{% block title %} {{ product.title }} {% endblock %}
{% block description %} {{ product.description }} {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title" >
                    <h2 class="title">Buy Quality Mass & Weight Gainer Protein</h2>
                    </Br>
                    Mass Gainers aid us in gaining muscular mass. They offer a fantastic balance of proteins, carbohydrates, and fats. For all fitness enthusiasts who wish to bulk up and gain weight in a healthy way, a weight gainer is a blessing. With 6 flavours and specific components like a blend of digestive enzymes, Biorite's line of mass gainer and weight gainer products offers greater outcomes with optimal absorption.
                    </Br></Br></Br></Br>
                     <h2 class="title">Buy Best Quality Whey Protein In INdia</h2></BR>
                     Buy original Whey Protein online in India • Check Whey Protein prices ✓ Lowest Prices ✓ Free & Fast Delivery ✓ Fresh Stock
                     </br>
                     Our Whey Protein is so good that the lab reports and the customers rated us with 5 stars.
                     </Br>
                     <h5>Our Bar Codes for Genuinity </h5>Our Bar Codes for Genuinity 
</br>
io-Mass 3kg Barcode  8907080901024</br>
Bio-Mass 5Kg Barcode  8907080901017</br>

Biorite Whey 2Kg Barcode  8907080901031</br>
Biorite Whey 1Kg Barcode  8907080 902427</br>

Immense Weight Gainer 3kg Barcode  8907080902465</br>
Immense Weight Gainer 1kg Barcode  8907080 902441</br>

PreShot 280G Barcode 8907080901772</br>

L-Glutamine 300G Barcode 8907080902434</br>

BCAA 300G Barcode 8907080902458</br>

                </div>
            </div>
            <!-- section title -->
            

        </div>
        <!-- /row -->


        
    </div>
    <!-- /container -->
</div>
<!-- /section -->
{% endblock %}