{% extends 'homebase.html' %}
{% load static %}
{% load i18n %}
{% load currency %}
{% block title %} {{ product.title }} {% endblock %}
{% block description %} {{ product.description }} {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title" >
                    <h2 class="title">Our Privacy Policies</h2>
                </div>
            </div>
            <!-- section title --><p>
            <font size="+1">The domain name www.bioritehealthcare.com (herein referred to as website) is property of Biorite Healthcare Private Limited with registered with CIN U15549HR2021PTC099313 & GST 06AAKCB3192P1Z5.Registered at 138/20, Gali No.7, Om Nagar,Gurugram,Gurgaon,Haryana, India -122001. </br>We value the trust you have in us. Therefore, we insist upon the highest standards for secure transactions and customer information privacy. Please read the following statements to understand our information gathering and dissemination practices.
                </font></p></br></br>
                </br></br>                 <p><strong>Note:</strong> Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.</p>

            <h3>What Information we Collect</h3>

             <p>We collect personally identifiable information (email address, name, phone number, etc.) from you when you set up a free account with the Website OR when you communicate with us via phone, email, chat, etc. OR when you fill an entry to participate in any contest, promotion or survey etc. on the Site OR when you participate at one of our events, etc. While you can browse some sections of our site without being a registered member, certain activities (such as placing an order) do require registration. We do use your contact information to send you offers based on your previous orders and your interests.</p>
    
                <p>When you visit our Site, social media platforms, or mobile applications, we may also collect certain information about your device or usage by automated means or by using technologies such as cookies, web server logs and web beacons.</p>

            <h3>Why we Collect Personal Information and how we use it?</h3>

                <p>We use personal information to provide the services you request. To the extent, we use your personal information to market to you. We use this information to resolve disputes; troubleshoot problems; help promote a safe service; collect fees owed; measure consumer interest in our products and services, inform you about online and offline offers, products, services, and updates; customize your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions; and as otherwise described to you at the time of collection.</p>

            <p>In our efforts to continually improve our product and service offerings, we collect and analyze demographic and profile data about our users' activity on our website. We identify and use your IP address to help diagnose problems with our server, and to administer our website. Your IP address is also used to help identify you and to gather broad demographic information.</p>

            <h3>Sharing of personal information</h3>

            <p>We may share personal information with any government or other agency to: help detect and prevent identity theft, fraud and other potentially illegal acts; correlate related or multiple accounts to prevent abuse of our services; and to facilitate joint or co-branded services that you request where such services are provided by more than one corporate entity. Those entities and affiliates may not market to you as a result of such sharing unless you explicitly opt-in.</p>

                <h3>Cookies</h3>

                    <p>A "cookie" is a small piece of information stored by a Web server on a Web browser so it can be later read back from that browser. Cookies are useful for enabling the browser to remember information specific to a given user. The Website places both permanent and temporary cookies in your computer's hard drive. Website’s cookies do not contain any of your personally identifiable information.</p>

                <h3>Opt-Out</h3>
    
                <p>The Site provides an option to all the users to opt-out of receiving any promotional or marketing communications from us. If you do not wish to receive any promotional or marketing communications from us, you can contact us at the address provided below: <a class="block" href="mailto:Support@bioritehealthcare.com">Support@bioritehealthcare.com</a> </p> 
    
                <p>Or you can click on the "unsubscribe" link at the bottom of any promotional e-mail that you receive.</p>
    
                 <h3>Security</h3>

                    <p>We endeavor to keep your Personal and Sensitive information secure in the best possible manner as it may be necessary for the purpose for which it was collected. We value the importance you attach to your Personal and Sensitive Information given to us and therefore we have (I) taken all reasonable measures and precautions to keep such information safe and secure and to prevent any unauthorized access to or misuse of the same; and (II) enable you to review and edit the same. However, we shall not be liable to any user for any loss, damage (whether direct, indirect, consequential or incidental) or harm caused to the user due to the unauthorized access or misuse of the Personal or Sensitive Information by any third party.</p>

        </div>
        <!-- /row -->


        
    </div>
    <!-- /container -->
</div>
<!-- /section -->
{% endblock %}