{% extends 'homebase.html' %}
{% load static %}
{% load i18n %}
{% load currency %}
{% block title %} {{ product.title }} {% endblock %}
{% block description %} {{ product.description }} {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title" >
                    <h2 class="title">Return/Refund and Cancellation</h2>
                </div>
            </div>
            <!-- section title -->
            </h2>      
    </header>

    

    
    <div class="rte">
      
    </div>
    <h3>Cancellation Policy</h3>
    <ul>
     
      <li>Orders once dispatched are not eligible for cancellation.</li>
      <li>Discount vouchers are intended for one-time use only and shall be treated as used even if you cancel the order. </li>
      </ul>
    <h3>Return/Refund Policy</h3>
    <ul>
      <li>BioRite Healthcare products are non-returnable due to hygiene/health and consumable nature of the product.</li>
      <li>In case you received a damaged/tampered/wrong product, please send us an email with the unboxing video and images of the Product, Invoice, Inner &amp; Outer Packaging and Batch Number to <a href="mailto:support@bioritehealthcare.com">support@bioritehealthcare.com</a>, within 24 hours of the order delivery. We would require 48-72 hours to revert.
      </li>
      <li>Please do not use the item you have raised a complaint about for the time being.</li>
      <li>If the shipment is tampered or damaged, please do not accept it.</li>
      <li>In case your order is returned after unsuccessful delivery attempts, kindly contact our customer support team. We’ll either process the refund (which will be in the form of voucher code/Coupon Code) or we’ll send the order again subjected to the availability.</li>
    </ul>
    <h3>Payment Policy</h3>
    <ul>
      <li>You may use Credit cards/Debit cards, Internet Banking and Cash on Delivery to make your purchase.</li>
      <li>If the amount has been deducted from your account but you haven’t received any confirmation from us, you can reach out to our customer support team and provide the following information –</li>
    <ul>
      <li>Transaction details/Email address/Contact number</li>
      <li>Complete product details which you’ve ordered</li>
      <li>Amount debited from the account</li>
    </ul>
    </ul>
    <h3>Note to Customers</h3>
    <ul>
      <li>We have noticed that although a vast majority of our customers have genuine concerns, where we go to extensive lengths for smooth user experience, there are some accounts/users who abuse our liberal return/exchange policies. These accounts typically return items, choose not to accept our shipments or demand cashback for issues that we are not responsible for due to which our regular/genuine customers are deprived off of the support. Hence, to protect the right of our customers, our support team reserves the right to assess, judge and then take the necessary action at their discretion. All our packing and dispatch are made in the supervision of CCTV camera and we capture video recording that genuine order is sent to right Custommer tha is why we are BioRight also in case we found mismatch of claim made for refund/cancellation with our proof then no refund would be provided and may lead to legal followup of fraud.</li>
    </ul>

        </div>
        <!-- /row -->


        
    </div>
    <!-- /container -->
</div>
<!-- /section -->
{% endblock %}