{% extends 'homebase.html' %}
{% load static %}
{% load i18n %}
{% load currency %}
{% block title %} {{ product.title }} {% endblock %}
{% block description %} {{ product.description }} {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title" >
                    <h2 class="title">Shipping and Return</h2>
                </div>
            </div>
            <!-- section title -->
            

        </div>
        <!-- /row -->
                <p style="font-family:verdana"><font size=+2>Orders can be delayed due to current lockdown and COVID Situation. Rest assured we are going to deliver your products at the earliest.</BR></BR></BR>

            
                The standard ground mail service is shipped via Blue Dart/Amazon ATS/Ecom Express/Xpressbees/Delhivery.We try to dispatch our all orders within 24-48 hours in normal BAU days. Please be advised that shipments are not sent out on Sundays, or any Holidays. If you are ordering our products from a Mega Sale event, dispatches may be delayed due to the increased volumes. We will target to dispatch all orders within a maximum of 3-5 days from the Date of Order. To ensure the safety and hygiene of all our customers, there might be delays in product dispatches & deliveries owing to constraints on logistics due to COVID-19. In these instances, unfortunately, we would not be able to commit to dispatch or delivery timelines and request you to please bear with us.</p></font>

        
    </div>
    <!-- /container -->
</div>
<!-- /section -->
{% endblock %}