{% extends 'homebase.html' %}
{% load static %}
{% load i18n %}
{% load currency %}
{% block title %} {{ product.title }} {% endblock %}
{% block description %} {{ product.description }} {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title" >
                    <h2 class="title">Shipping Guide</h2>
                </div>
            </div>
            <!-- section title -->
            

        </div>
        <!-- /row -->


        
    </div>
    <!-- /container -->
</div>
<!-- /section -->
{% endblock %}